doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title="Mobi reader"
  body
    h3 Mobi reader - new, fast modern desing e-mail client with build-in Calendar and To-Do
    p Main features:
    ul
      li lightweight
      li material desing
      li easy to use
      li secure
      li cross platform
    p To try it click the button below and authorize with your Google account
    form(action='auth/google')
      input(type='submit', value='Sign in')
