doctype html
<<<<<<< HEAD
html(lang='en')
  head
    meta(charset='utf-8')
=======
html
  head
>>>>>>> a9317b0fd9744a817166c785331ed37206e0fcb3
    title="Welcome"
  body
    h1 Hi #{user.displayName}
    p Thanks for trying our product
    p If you enjoyed Mobi reader, please leave a comment on our Facebook page
